.logoContainer {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 100px;
    --colorLogoBackground:  var(--colorSecondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoGrid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--colorLogoBackground);   
}

.logoGrid > :nth-child(2) {
  font-size: 10px;
  width: 14px;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 100px;
  background-color: var(--colorPrimary);
  color: var(--colorOnPrimary);
  margin: -10px;
  border: solid 3px var(--colorLogoBackground);
  z-index: 2;
  transform: rotate(-20deg);
}

.logoPoll {
    padding: 12px 20px;
    background-color: var(--colorSurface) !important; 
    color: var(--colorOnSurface);
    min-width: 100%;
    position: relative;
    overflow: hidden;
}

.logoPoll-left {
    border-radius: 0 100px 100px 0;
    align-self: flex-start;
    margin-left: -40px; 
}
.logoPoll-right {
    border-radius: 100px 0 0 100px;
    align-self: flex-end;
        margin-right: -40px; 

}
