body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* color-scheme: dark; */
  
  /* Colors */
  --colorPrimary: #6750a4;
  --colorOnPrimary: #fff;
  --colorPrimaryContainer: #eaddff;
  --colorOnPrimaryContainer: #21005e;
  --colorPrimaryLighten: #b9a9e5;

  --colorSecondary: #625b71;
  --colorOnSecondary: #fff;
  --colorSecondaryContainer: #e8def8;
  --colorOnSecondaryContainer: #1e192b;

  --colorTertiary: #7d5260;
  --colorOnTertiary: #fff;
  --colorTertiaryContainer: #ffd8e4;
  --colorOnTertiaryContainer: #370b1e;

  --colorError: #b1261e;
  --colorOnError: #fff;
  --colorErrorContainer: #f9dedc;
  --colorOnErrorContainer: #370b1e;

  --colorBackground: #fffbfe;
  --colorOnBackground: #1c1b1f;
  
  --colorSurface: #e7e0ec;
  --colorOnSurface: #49454e;
  --colorOutline: #79747e;

  --colorHover: #e3e3e3;

  --filterHover: brightness(92%);
  --filterFocus: brightness(88%);
  --filterActive: brightness(84%);

  /* Typography */

  /* Dimens */
  --dimenNavRailWidth: 80px; 
  --dimenNavDrawerWidth: 300px;

  --focusBoxShadowValue: 0 0 0 2.5px;
  
  background-color: var(--colorBackground);
}
div {
  color: var(--colorOnBackground);
}

nav {
 background-color: var(--colorBackground);
  color: var(--colorOnBackground);
}

main {
  transition: margin-inline-start 0.2s ease-in-out;
}

.m-navRail {
  margin-inline-start: calc(var(--dimenNavRailWidth) + 1rem);
}

.m-navDrawer {
    margin-inline-start: calc(var(--dimenNavDrawerWidth) + 1rem);
}


@media screen and (max-width: 700px) {
  
  .m-navDrawer {
    margin-inline-start: calc(var(--dimenNavRailWidth) + 1rem);;
  }

  
}

section {
  margin: 16px auto;
  width: 95%;
  max-width: 900px;
  transition: width 0.3s ease-in-out;
}


.noBulletsList {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
}

.avatar {
  border-radius: 50%;
}


.progressContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
.progressContainer progress {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent !important;
}

.progressContainer progress::-webkit-progress-bar {
    background-color: transparent !important;
}

.progressContainer progress::-webkit-progress-value {
    background-color: var(--colorPrimaryContainer);
    transition: all 0.2s ease-in-out;
}
.progressContainer {
  display: grid;
  place-items: center;
  font-size: 0.8em;
}

.progress-content{
  z-index: 2;
  width: 100%;
  padding: 0 25px;
}

header {
    background-color: var(--colorBackground);
    font-size: 20px;
    position: sticky;
    top:0;
    z-index: 3;
    overflow: hidden;
    padding: 16px 0px;
    margin-bottom: 16px;
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.error {
  height: 300px;
  display: grid;
  place-items: center;
  
}

.error h1 {
  background-color: var(--colorErrorContainer);
  color: var(--colorError);
  padding: 30px 100px;
  border-radius: 16px;
  box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
}


*::-webkit-scrollbar {
    width: 0.5rem;
}


*::-webkit-scrollbar-track {
    background-color: var(--colorSurface);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--colorOnSurface);
}