body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* color-scheme: dark; */
  
  /* Colors */
  --colorPrimary: #6750a4;
  --colorOnPrimary: #fff;
  --colorPrimaryContainer: #eaddff;
  --colorOnPrimaryContainer: #21005e;

  --colorSecondary: #625b71;
  --colorOnSecondary: #fff;
  --colorSecondaryContainer: #e8def8;
  --colorOnSecondaryContainer: #1e192b;

  --colorTertiary: #7d5260;
  --colorOnTertiary: #fff;
  --colorTertiaryContainer: #ffd8e4;
  --colorOnTertiaryContainer: #370b1e;

  --colorError: #b1261e;
  --colorOnError: #fff;
  --colorErrorContainer: #f9dedc;
  --colorOnErrorContainer: #370b1e;

  --colorBackground: #fffbfe;
  --colorOnBackground: #1c1b1f;
  
  --colorSurface: #e7e0ec;
  --colorOnSurface: #49454e;
  --colorOutline: #79747e;

  --colorHover: #e3e3e3;

  --filterHover: brightness(92%);
  --filterFocus: brightness(88%);
  --filterActive: brightness(84%);

  /* Typography */

  /* Dimens */
  --dimenNavRailWidth: 80px; 
  --dimenNavDrawerWidth: 300px;
  
  background-color: var(--colorBackground);
}
div {
  background-color: var(--colorBackground);
  color: var(--colorOnBackground);
}

nav {
 background-color: var(--colorBackground);
  color: var(--colorOnBackground);
}

main {
}

.m-navRail {
  margin-inline-start: calc(var(--dimenNavRailWidth) + 1rem);
}

.m-navDrawer {
    margin-inline-start: calc(var(--dimenNavDrawerWidth) + 1rem);
}

section {
  margin: 16px auto;
  width: 95%;
  max-width: 900px;
  transition: width 0.3s ease-in-out;
}


.noBulletsList {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
}

.avatar {
  border-radius: 50%;
}