nav {
    top: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: width ease 0.2s;
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    justify-content: center;
    height: 100%;
}

/* Common */
nav .fab {
    margin: 0px !important;
    transition: width ease 0.2s, height ease 0.2s, border-radius ease 0.2s;
}

.navRail .fab {
    margin: 0px auto!important;
}

.navRail span {
    display: none;
}

.navitem-action .title {
    font-weight: 500;
    margin: 0px !important;
}

nav .fab svg {
    fill: var(--colorOnTertiary );
}

.navDrawer .navitem-action {
    justify-content: space-between;
    background-color: var(--colorHover);
    
}

.navDrawer .navitem-action:nth-child(1) {
    flex: 1;
    flex-grow: 1;
}

.navitem-user button {
    margin: 0 16px 0 auto;

    width: 40px !important;
    height: 40px !important;
}

.navDrawer .fab {
    width: 45px;
    height: 45px;
    border-radius: 100px;
}


    
.navRail {
    height: 100vh;
    width: var(--dimenNavRailWidth);
}

.navDrawer {
    height: 100vh;
    width: var(--dimenNavDrawerWidth);
}

.navRail ul, .navDrawer ul {
    flex-direction: column;
}

.navBar {
    width: 100vw;
    bottom: 0;
    
}

.navBar ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav ul li:last-child {
    margin-top: auto;
}

nav ul li:first-child {
    margin-top: 16px;
    margin-bottom: 26px;
}

.navRail ul li:nth-child(2) {
    margin: 16px auto;
}

/* Common End */

nav .fab {
    text-align: left;
    margin: 10px auto;
    margin-bottom: 50px;
    
}



/* NavItem */

.navitem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navDrawer .navitem {
    align-items: stretch;
}

.navBar .navitem {
    align-items: stretch;
}



.navitem a {
    text-decoration: none;
}

.navitem-section {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.2s ease-in-out, font-weight ease 50ms;
}

.navRail .navitem-section {
    width: 56px;
    height: 56px;
    margin-bottom: 12px;
    justify-content: center;
}

.navRail .navitem-content {
    border-radius: 100px;
}

.navDrawer .navitem-section {
    
    height: 46px;
    margin-bottom: 4px;
    border-radius: 0 100px 100px 0;
    padding: 0px 0px 0px 16px;

}

.navitem-section .icon {
    background-color: transparent;
    height: 24px;
    width: 24px;
}

.navRail .navitem-user .icon {
    height: 45px;
    width: 45px;
}

.navDrawer .navitem-user .icon {
    height: 35px !important;
    width: 35px !important;
}
.navRail .navitem-user button{
    display: none;
}

.navitem-content:hover {
    filter: var(--filterHover);
}

.active .navitem-content {
    font-weight: 500;
    background-color: var(--colorSecondaryContainer);
    color: var(--colorOnSecondaryContainer);
    fill: var(--colorOnSecondaryContainer);
    
}

.inactive .navitem-content {
    color: var(--colorOnSurface);
}



.navitem-section .title {
    transition: opacity ease 0.2s;
    display: none;
    opacity: 0;
}

.navDrawer .title {
    display: block;
    font-size: 1.1em;
    margin-inline-start: 12px;
    opacity: 1;
}

hr {
    opacity: 0.2;
    margin: 4px 16px;
}

.menu svg {
    fill: var(--colorOnBackground) !important; 
}

.navDrawer .menu {
    margin-inline-start: 10px !important;
}