.filledCard {
    background-color: var(--colorSurface);
    color: var(--colorOnSurface);
    border-radius: 12px;
    padding: 0px 16px;
    border: 1px solid var(--colorOutline);
    overflow: hidden;
}

.filledCard div {
    background-color: transparent;
}

.cardInfo {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}
.cardInfo div {
    margin: auto 0;
}
.cardInfo div span {
    display: block;
}
.cardInfo .timestamp {
    font-size: 0.8em;
    margin-top: 2px;
}
.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
}

.arrow-up {
  --arrowSize: 8px; 
  width: 0; 
  height: 0;
  border-left: var(--arrowSize) solid transparent;
  border-right: var(--arrowSize) solid transparent;
  
  border-bottom: var(--arrowSize) solid var(--colorBackground);
  position: absolute;
  top:calc(-1 * var(--arrowSize));
  left: 31px;
}


.question {
    border-radius: 12px;
    position: relative;
    background-color: var(--colorBackground) !important;
    color: var(--colorOnBackground) !important;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 20px -16px 0px -16px;
    padding: 0px 16px 20px 16px;
}

/* Options */
.pollOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pollOptions progress {
    display: none;
}

.mode-answered progress {
    display: block;
}

.cardFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0px;
    /* margin-inline-end: px; */
}

.cardFooterData {
    flex-grow: 1;
}

.pollOptions > :nth-child(2) {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 100px;
  background-color: var(--colorPrimary);
  color: var(--colorOnPrimary);
  margin: -9px;
  border: solid 3px var(--colorBackground);
  z-index: 2;
  transform: rotate(-20deg);
}

.poll {
    padding: 12px 20px;
    background-color: var(--colorSurface) !important; 
    color: var(--colorOnSurface);
    min-width: 50%;
    max-width: 90%;
    margin: 0 -16px;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: grid;
}

.poll .text {
    z-index: 2;
    /* position: absolute; */
}

.poll progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    background: transparent;
    color: var(--colorOnSurface);
}

.poll progress::-webkit-progress-bar {
    background-color: transparent;
}

.selected progress::-webkit-progress-value {
    background-color: var(--colorSecondaryContainer);
    transition: all 0.2s ease-in-out;
}

.unselected progress::-webkit-progress-value {
    background-color: var(--colorTertiaryContainer);
}

.poll-left {
    border-radius: 0 100px 100px 0;
    align-self: flex-start;
}
.poll-right {
    border-radius: 100px 0 0 100px;
    align-self: flex-end;
}
