.filledCard {
    background-color: var(--colorSurface);
    color: var(--colorOnSurface);
    border-radius: 12px;
    padding: 0px 16px;
    border: 1px solid var(--colorOutline);
    overflow: hidden;
}

.filledCard div {
    background-color: transparent;
}

.cardInfo {
    display: flex;
    flex-direction: row;
    margin: 12px 0px;
    text-align: start;
}
.cardInfo button {
    margin: 0 !important;
    padding: 0 !important;
}
.cardInfo div {
    margin: auto 0;
}
.cardInfo div span {
    display: block;
}
.cardInfo .timestamp {
    font-size: 0.8em;
    margin-top: 2px;
}
.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
}

.cardInfo .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}


.cardFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0px;
    /* margin-inline-end: px; */
}

.cardFooterData {
    flex-grow: 1;
}

