.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.code, .desc {
    color: var(--colorError);
}

.code {
    font-size: 190px;
}

.desc {
    font-size: 42px;
    margin-bottom: 12px;
}