.answers {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.option {
    min-height: 50px !important;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 8px 0;
}


.answers .bullet {
    background-color: var(--colorPrimary);
    color: var(--colorOnPrimary);
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 3px solid var(--colorOnPrimary);
}

.bulletItems ul li {
    background-color: var(--colorBackground) !important;
    min-height: 39px;
    line-break: normal;
    display: grid;
    place-items: center;
    padding: 0px 25px;
    /* border-radius: 5px; */
    border-radius: 50px;
    margin: 0px 5px;
    transition: all 200ms ease-in-out, filter 100ms ease-in-out;
    border: 3px solid var(--colorBackground);
    
}

.selected .bullet::before {
    content: "✓" !important;
    
}
.selected .bullet {
    background-color: var(--colorTertiary);
}

.selected .bulletItems ul li:first-child {
    background-color: var(--colorTertiaryContainer) !important;
    color: var(--colorOnTertiaryContianer) !important;
}

.answers > :nth-child(1) .bullet::before {
    content: "1";
}

.answers > :nth-child(2) .bullet::before {
    content: "2";
}



.detailsMode-question li {
    cursor: pointer;
}

.detailsMode-question .option:hover  li{
    background-color: var(--colorPrimaryContainer) !important;
    color: var(--colorOnPrimaryContainer) !important;
    
}

.detailsMode-question .option:active  li{
    filter: var(--filterActive) !important;
    
}

.option .progressWrapper {
    padding: 0 !important;
    overflow: hidden;
    margin-top: 4px;
}

.selected .progressWrapper progress::-webkit-progress-value {
    background-color: var(--colorTertiaryContainer);
}

.progressWrapper div {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.questionBoxContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin: 16px 0px;
}

.questionBox {
    aspect-ratio: 1/1!important;    
    background-color: var(--colorOnPrimary) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    max-height: 300px;
    position: relative;   
    font-size: larger;
    border-radius: 12px;
    border: 3px solid var(--colorOnPrimary) !important;
    overflow: hidden;
    padding: 0px;
    transition: background-color 300ms ease-in-out;
    
}

.questionBox-extra {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0px 0px 9px 9px ;
    overflow: hidden;
    background-color: var(--colorOnPrimary) !important;
    padding-top: 4px;
}


.questionBox-extra .divider {
    margin: 0px;
    height: 4px;
    width: 100%;
    background-color: var(--colorOnPrimary) ;
}
.questionBox-extra .progressWrapper {
    overflow: hidden;
    height: 50px;
}

.selected .questionBox {
    background-color: var(--colorTertiaryContainer) !important;
}

.selected .questionBox  .progressWrapper progress::-webkit-progress-value {
    background-color: var(--colorTertiaryContainer);
} 

.mode-question .questionBox:hover {
    cursor: pointer;
    background-color: var(--colorPrimaryContainer) !important;
}

.questionDetailsCard {
    text-align: center;
}

.questionBoxStretch  .questionBox {
    justify-content: stretch;
    align-items: stretch;
}

h1 {
margin-bottom: 40px;

}

.questionBox .questionBox-content {
    line-break: strict;
}



.optionBox-inputWrapper {
    height: 100%;
    line-break: strict;
    width: 100%;
}

.optionBox-inputWrapper input {
    outline: none;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent !important;
    color: var(--colorOnPrimaryContainer);
    font-size: larger;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    border: none !important;
    line-break: auto !important;
    word-break: break-all !important;
    overflow-wrap: break-word !important
}

.submit {
    margin-bottom: 12px;
}