.boxInput {
    padding: 0px !important;
    margin: 0px !important;
    background-color: transparent !important;
    border: none !important;
    width: 100% !important;
    line-break: auto !important;
    word-break: break-all !important;
    overflow-wrap: break-word !important
}